body {
  background-color: green;
}

.Deck {
  display: flex;
  justify-content: center;
}

.Cards {
  margin-top: 100px;
  position: absolute;
}

.Card {
  position: absolute;
  margin-left: -113px;
}

